@font-face{
    font-family: 'Poppins', sans-serif;
    src: url("../fonts/Poppins-ExtraLight.ttf");
    src: url("../fonts/Poppins-Light.ttf");
    src: url("../fonts/Poppins-SemiBold.ttf");
}

:root{
   
    --principal:#f69b04;
   --secundario:#e33907;
   --titulos:#3f3f3f;
  

}

*{
    margin: 0;
    padding: 0;
    outline: 0;
    appearance: 0;
    border: 0;
    text-decoration: none;
    list-style: none;
    box-sizing: border-box;
}

.bd{
    /* outline: 1px solid #000; */
}

body{
    height: 100vh;
    /* display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column; */
    background-color: #ECF0F9;
    font-family: "Poppins", sans-serif;
}
a{
    text-decoration: none;
}
a:hover, .btn:hover{
    text-decoration: none;
    color:white;
}



/*******************************************/
/******NAVBAR*/
#navbar{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    height: auto;
    background-color: white;
    z-index: 1;
    top:0px;
    position: absolute;
    box-shadow: rgba(17, 12, 46, 0.15) 0px 48px 100px 0px;
    padding: 5px 0;
}
#navbar .navbar_contenedor{
    width: 85%;
    display: flex;
    justify-content: space-between;
}
#navbar .navbar_contenedor .navbar_logo{
    display: flex;
    justify-content: center;
    align-items: center;
    gap:20px;
}
#navbar .navbar_contenedor .navbar_logo h2{
    font-size: 1.3em;
    font-weight: 700;
    margin-top: 10px;
}
#navbar .navbar_contenedor .navbar_logo img{
    width: 50px;
}

#navbar .navbar_contenedor .navbar_usuario{
    display: flex;
    justify-content: center;
    align-items: center;
    gap:10px;
}
#navbar .navbar_contenedor .navbar_usuario h2{
    font-size: 1.2em;
    font-weight: 700;
    margin-top: 10px;
}
#navbar .navbar_contenedor .navbar_usuario h2 span{
    font-weight: 400 !important;
}

#navbar .navbar_contenedor .navbar_usuario .navbar_avatar{
    width: 30px;
}

#navbar .navbar_contenedor .navbar_usuario a{
    color: var(--principal);
}


/***********************************************************/
/*CONTADOR*/
#contador{
    width: 90%;
    margin: 0 auto;
    margin-top: 80px;
    display: flex;
    justify-content: center;
    flex-direction: column;
}
#contador h1{
    text-align: center;
    font-size: 1.3em;
    font-weight: 600;
}
#contador h2{
    text-align: center;
    font-size: 1.2em;
    font-weight: 500;
    color: var(--secundario);
}
#contador h1 span{
    font-weight: 300;
    font-size: 1.2em;
    position: relative;
    top:4px;
}

#contador a{
    text-align: center;
    color: var(--principal);
    margin: 0 auto;
}
/*******************************************************************/
/*FILTROS*/
#filtros{
    padding: 10px 0;
    display: flex;
    justify-content: center;
    flex-direction: column;
    text-align: center;
    gap:20px;
    width: 100%;
}
#filtros .filtros_nombre, #filtros .filtros_fecha{
    width: 400px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap:20px;
    margin: 0 auto;
}
#filtros .filtros_fecha{
    width: 250px;
    flex-direction: column;
    gap:0px;
}
#filtros input, #filtros button{
    height: 40px;
    width:100%;
    font-size: 16px;
    padding: 0 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
    font-family: inherit;
}
#filtros .filtros_fecha input{
    width: 80%;
    margin: 0 auto;
}
#filtros button{
    width: 150px;
    background-color: var(--principal);
    color: white;
}

/****************************************************************/
/*PRINCIPAL*/
#principal{
    margin-top: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap:30px;
    flex-direction: column;
}
.nohay{
    text-align: center;
    color:#505050;
    font-weight: 0.9em;
    margin: 50px 0;
}
.nohay i{
    position: relative;
    right: 2px;
}
#principal .mesa{
    box-shadow: rgba(0, 0, 0, 0.05) 0px 6px 24px 0px, rgba(0, 0, 0, 0.08) 0px 0px 0px 1px;
    height: 100%;
    width: 70%;
    margin: 5px auto;
    padding-bottom: 10px;
    border-radius: 20px;
    position: relative;
    background-color: white;
}
#principal .mesa .cabecera a{
    color: var(--principal);
    font-weight: 500;
    font-size: 1em;
}
#principal .mesa .eliminarcuenta{
    position: absolute;
    top:3px;
    left: 10px;
}
#principal .eliminarcuenta i{
    color: red;
    font-size: 0.9em;
}
#principal .mesa .cabecera{
    padding: 10px 20px;
    border-bottom: 2px solid #ccc;
}
#principal .mesa table{
    width: 100%;
    text-align: center;
}
#principal .mesa input[type=number]{
    height: 35px;
    width: 60px;
    font-size: 16px;
    padding: 0 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
    font-family: inherit; 
}
#principal .mesa .cabecera table th{
    /* outline: 1px solid red; */
    font-size: 1em;
    
}
#principal .mesa .cabecera table th span{
    font-weight: 400;
}

#principal .mesa .ordenes {
    padding: 10px 20px;
}
#principal .mesa .ordenes table{
    border-collapse: collapse;
}
#principal .mesa .ordenes table th{
    font-size: 0.9em;
}
#principal .mesa .ordenes table tbody{
    /* border:1px solid #ccc; */
    /* outline: 1px solid blue; */
}
#principal .mesa .ordenes table tbody .divnumeroOrden{
    border:1px solid #ccc;
    width: 100%;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
    margin: 2px auto;
}
#principal .mesa .ordenes table tbody .divnumeroOrden table td{
    /* outline: 1px solid blue; */
}

#principal .divHora{
    width: 95%;
    text-align: right;
}
#principal .divHora span{
    font-size: 0.8em;
    color: gray;
}
/*********************************************************/
/*HISTORIAL*/
#linkRegresar{
    position: fixed;
    left: 20px;
    bottom: 20px;
}
#linkRegresar i{
    font-size: 1.4em;
    color: var(--principal);
}
/***********************************************************/
/* PIE DE PAGINA*/
footer{
    /* text-align: center; */
    width: 100%;
    bottom: 0;
    position: fixed;
    height: 30px;
    text-align: right;
    right: 20px;
}

footer p{
    font-weight: 600;
}
footer p span{
    font-weight: 400;
}
footer p a i{
    position: relative;
    top:0px;
    left: 2px;
    font-size: 1em;
    color: var(--principal);
} 

/**************************************************************/
/*MODAL*/
.modal form .name-details{
    display: flex;
    justify-content: center;
    align-items: center;
    gap:5px;
}


.modal form .field{
    display: flex;
    position: relative;
    flex-direction: column;
    margin-bottom: 10px;
}
.modal form .field label{
    margin-bottom: 2px;
    font-weight: 700;
    text-align: left;
    margin-left: 20px;
}
.modal form .name-details{
    display: flex;
}
.modal form .field input{
    outline: none;
}
.modal form .input input, .modal form .input select{
    height: 40px;
    width:100%;
    font-size: 16px;
    padding: 0 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
    font-family: inherit;
}
.modal form .button input{
    background-color: var(--principal);
    color: white;
    font-weight: 500;
}

/************************************************/
/*MENSAJE DE DISPOSITIVOS MOVILES*/
.mensajeDispositivos{
    display: none;
    top:0;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    position: fixed;
    background-color: white;
    z-index: 99999;
    gap:10px;
}

.mensajeDispositivos img{
    width: 250px;
}
.mensajeDispositivos p{
    color: gray;
}
.mensajeDispositivos p i{
    position: relative;
    top:1px;
}


/*=============== BREAKPOINTS ===============*/

  /* FOR MEDIUM DEVICES */
  @media screen and (max-width: 700px){

    .mensajeDispositivos{
        display: flex;
    }
    


  }