
/****************************************************/
#principal .navbar_principal h2{
    font-size: 1em;
    padding: 5px 20px;
    font-weight: 600;
}

#estadisticasMensaje{
    text-align: center;
    font-size: 0.9em;
    color: red;
    margin: 100px 0;
}


#estadisticas_buscar{
    width: 80%;
    margin: 20px auto;
    display: flex;
    justify-content: center;
    align-items: center;
    gap:10px;
    flex-direction: column;
    /* color: var(--color3); */
}

#estadisticas_buscar .estadisticas_anual{
    display: none;
}


#estadisticas_buscar select{
    height: 40px;
    width:200px;
    font-size: 16px;
    padding: 0 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
    font-family: inherit;
}
#estadisticas_buscar select{
    width: 140px;
}
#estadisticas_buscar button{
    height: 38px;
    background-color: var(--color3);
    color: white;
    font-weight: 500;
    width: 100px;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
    font-family: inherit;
    margin-left: 5px;;
}
#estadisticas_buscar h2{
    font-size: 1.2em;
    font-weight: 600;
}

/*RADIO INPUTS*/
#estadisticas_buscar .radio{
    font-size: 18px;
position: relative;
vertical-align: middle;
display: inline-block;
padding-right: 20px;
font-size: 18px;
padding-left: 25px;
/* outline: 1px solid #000; */


}
#estadisticas_buscar .radio input[type="radio"]{
display: none;
  }
#estadisticas_buscar .radio span{
    height: 22px;
    width: 22px;
    border-radius: 50%;
    border: 2px solid var(--color1);
    display: block;
    position: absolute;
    top: 2px;
    left: 0px;
}

#estadisticas_buscar .radio span:after{
    content: " ";
    height: 16px;
    width: 16px;
    background-color: var(--color1);
    display: block;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%) scale(0);
    border-radius: 50%;
    transition: 300ms ease-in-out 0s;
    }

#estadisticas_buscar   .radio input[type="radio"]:checked ~ span:after{
    transform: translate(-50%, -50%) scale(1);
}

/***********
ESTILOS GENERALES
******************* */
#estadisticas i.arrowup{
     width: 0;
    height: 0;
    border-left: 6px solid transparent;
    border-right: 6px solid transparent;
    border-bottom: 8px solid #10b981; /* Verde para positivo */
    display: inline-block;
    vertical-align: middle;
    margin-right: 5px;
}
#estadisticas i.arrowdown {
    width: 0;
    height: 0;
    border-left: 6px solid transparent;
    border-right: 6px solid transparent;
    border-top: 8px solid #ef4444; /* Rojo para negativo */
    display: inline-block;
    vertical-align: middle;
    margin-right: 5px;
}


/***********
INDICADORES
******************* */
/* #estadisticas .estadisticas_contenido{
    display: none;
} */

/*INDICADORES*/
#estadisticas  .contenedor_indicadores{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

#estadisticas .indicadores .indicadores_items{
    width: 280px;
    height: 210px;
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
    background-color: white;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    position: relative;
}
#estadisticas .indicadores .indicadores_items h2{
    font-weight: 600;
    font-size: 2.3em;
    display: flex;
    justify-content: center;
    align-items: center;
    gap:5px;
}
#estadisticas .indicadores .titulo{
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: 600;
    gap:5px;
    
}
#estadisticas .indicadores .titulo span{
    font-size: 0.9em;
}
#estadisticas .indicadores .subtitulo{
    font-size: 0.8em;
    color: rgb(188, 188, 188);
    position: absolute;
    bottom: 30px;
}

#estadisticas h3{
    font-size: 1.1em;
    font-weight: 700;
    text-align: center;
    padding: 10px 0;
}



/***********
MENU DE ESTADISTICAS
******************* */
#estadisticas .menu_estadisticas{
    width: 90%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 30px auto;
}
#estadisticas .menu_estadisticas ul{
    display: flex;
    justify-content: center;
    align-items: center;
    gap:10px;
}

#estadisticas .menu_estadisticas ul li a{
    border: 1px solid var(--color3);
    color: var(--color3);
    padding: 5px 10px;
    border-radius: 20px;
    font-size: 0.9em;
}

#estadisticas .menu_estadisticas ul li a.active{
    background-color: var(--color2);
    color: white;
}





/***********
DATOS GENERALES
******************* */
#datosgenerales{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 10px 0;
}

#datosgenerales table{
    width: 80%;
    text-align: center;
    border-collapse: collapse;
    border: 1px solid #ccc;
}

#datosgenerales table th{
    padding: 10px 10px;
    font-size: 0.9em;
    font-weight: 600;
    border-bottom: 1px solid #ccc;
}
#datosgenerales table td{
    text-align: center;
}
#datosgenerales table td.tdingresos{
    color: green;
    /* font-weight: 600; */
}

#datosgenerales table td.tdgastos{
    color:red;
    /* font-weight: 600; */
}

#datosgenerales table td.tdpostivo{
    color:green;
}

#datosgenerales table td.tdnegativo{
    color:red;
}

#datosgenerales table tr.vacio{
    opacity: 0.5;
}



/***********
DATOS CLIENTES
******************* */
#datosclientes{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 10px 0;
}

#datosclientes table{
    width: 80%;
    text-align: center;
    border-collapse: collapse;
    border: 1px solid #ccc;
}

#datosclientes table th{
    padding: 10px 10px;
    font-size: 0.9em;
    font-weight: 600;
    border-bottom: 1px solid #ccc;
}
#datosclientes table td{
    text-align: center;
}
#datosclientes table td i.fa-users{
    font-size: 0.8em;
}


/***********
DATOS PEDIDOS
******************* */
#datospedidos .graficas, #datoscategorias .graficas,  #datosproductos .graficas, #datosgastos .graficas{
    width: 80%;
    margin: 10px auto;
}

#datosproductos .graficas{
    width: 95%;
}

#datospedidos .datosusuarios_pedidos, #datospedidos .datosmostrar_pedidos{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
#datospedidos .datosusuarios_pedidos h3, #datospedidos .datosmostrar_pedidos h3{
    font-size: 0.9em;
    color: var(--color3);
}

#datospedidos .datosusuarios_pedidos ul, #datospedidos .datosmostrar_pedidos ul{
    display: flex;
    justify-content: center;
    align-items: center;
    gap:10px;
    flex-wrap: wrap;
}

#datospedidos .datosusuarios_pedidos ul li, #datospedidos .datosmostrar_pedidos ul li{
    border: 1px solid var(--color1);
    padding: 5px 10px;
    border-radius: 10px;
}
#datospedidos .datosusuarios_pedidos ul li span, #datospedidos .datosmostrar_pedidos ul li span{
    font-weight: 600;
}
#datospedidos .datosusuarios_pedidos ul li i, #datospedidos .datosmostrar_pedidos ul li i{
    font-size: 0.8em;
}


/***********
DATOS PAGOS
******************* */
#datospagos, #datosconsumo, #datoscortesias{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 10px 0;
    flex-direction: column;
}

#datospagos table, #datosconsumo table, #datoscortesias table{
    width: 800px;
    text-align: center;
    border-collapse: collapse;
    border: 1px solid #ccc;
    
}

#datospagos table th, #datosconsumo table th, #datoscortesias table th{
    padding: 10px 10px;
    font-size: 0.9em;
    font-weight: 600;
    border-bottom: 1px solid #ccc;
}
#datospagos table td, #datosconsumo table td, #datoscortesias table td{
    text-align: center;
}

#datospagos  h3, #datosconsumo h3, #datoscortesias h3{
    font-size: 0.9em;
    color: var(--color3);
}

#datospagos .datosmostrar_pagos, #datosconsumo .datosmostrar_consumo, #datoscortesias .datosmostrar_cortesias{
    width: 80%;
    margin: 10px auto;
}

#datospagos .datosusuarios_pagos ul, #datospagos .datosmostrar_pagos ul, #datosconsumo .datosmostrar_consumo ul, #datoscortesias .datosmostrar_cortesias ul{
    display: flex;
    justify-content: center;
    align-items: center;
    gap:10px;
    flex-wrap: wrap;
}

#datospagos .datosusuarios_pagos ul li, #datospagos .datosmostrar_pagos ul li, #datosconsumo .datosmostrar_consumo ul li, #datoscortesias .datosmostrar_cortesias ul li{
    border: 1px solid var(--color1);
    padding: 5px 10px;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap:5px;
    font-size: 0.9em;
}

#datospagos .datosusuarios_pagos ul li p, #datospagos .datosmostrar_pagos ul li p, #datosconsumo .datosmostrar_consumo ul li p, #datoscortesias .datosmostrar_cortesias ul li p{
    margin: 0px !important;
    padding: 0px !important;
    font-weight: 600;
}

#datospagos .datosusuarios_pagos ul li i, #datosconsumo .datosmostrar_consumo ul li i{
    font-size: 0.8em;
}


#datospagos .tablapagos{
    margin-top: 20px;
}




/***********
DATOS GASTOS
******************* */
#datosgastos{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 10px 0;
    flex-direction: column;
    width: 100%;
}
#datosgastos  h3{
    font-size: 0.9em;
    color: var(--color3);
}
#datosgastos .tablagastos{
    width: 70%;
    margin: 10px 0;
}

#datosgastos table{
    width: 100%;
    text-align: center;
    border-collapse: collapse;
    border: 1px solid #ccc;
    margin: 10px auto;
}

#datosgastos table th{
    padding: 10px 10px;
    font-size: 0.9em;
    font-weight: 600;
    border-bottom: 1px solid #ccc;
}
#datosgastos table td{
    text-align: center;
}

#datosgastos table td.tdgastos{
    color: red;
}       