@font-face{
    font-family: 'Poppins', sans-serif;
      src: url("fonts/Poppins-ExtraLight.ttf");
    src: url("fonts/Poppins-Light.ttf");
    src: url("fonts/Poppins-SemiBold.ttf");
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: 'Poppins', sans-serif;
}

/*************************************************************/
/*CABECERA*/
.header{
    background: #c0431c;
    width: 100%;
    height: 80px;
    display: grid;
    grid-template-columns: repeat(10,1fr); 
    gap:20px;
    text-align: center;
    justify-content: space-around;
    line-height: 80px;
    box-shadow: 0 0 32px -16px rgba(0,0,0,0.5);
}

.header_title{
    grid-column:4/8;
}
.header_tit{
    color:#fff;  
}
.header_salir{
    grid-column:9/-1;
    text-align: right;
    
}
.header_cta{
    color:white;
    text-decoration: none;
    margin-right: 30px;
    
}
.header_cta::before{
    content: url("img/salir1.png");
    position: relative;
    top:5px;
    right:5px;
    
}
/**********************************************************************/

/*FECHA*/
#fecha{
    text-align: center;
    font-weight: 400;
    margin: 10px 0;
    font-size: 1em;
    color:#c0431c;
}
/**************************************************/
/*MENU DE NAVEGACIO*/
.menu{
    width: 100%;
    text-align: center;
}
.menu .menu_item{
    text-decoration: none;
    color:#eb8d36;
    position: relative;
}
.menu .menu_item-home:before{
    content: url("img/home1.png");
    position: relative;
    top:0px;
    right: 2px;
}
