
@font-face{
    font-family: 'Poppins', sans-serif;
      src: url("Poppins-ExtraLight.ttf");
    src: url("Poppins-Light.ttf");
    src: url("Poppins-SemiBold.ttf");
}


*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
   font-family: 'Poppins', sans-serif;
}



/*FORMULARIO BUSCAR*/
.form_buscar{
    width: 70%;
    height: 100%;
    margin: 20px auto;
    text-align: center;
}


.form_buscar input{
    display: block;
    margin: 10px auto;
    font-size: 0.9em;
    padding: 5px 10px;
    outline: none;
    border: 1px solid #000;
    border-radius: 10px;
    font-family: inherit;
    width: 250px;
    display: inline-block;
}


.form_buscar .form_cta{
    font-size: 0.9em;
    border-radius: 10px;
    padding: 5px 10px;
    width: 100px;
    margin-top: 20px;
    background: #eb8d36;
    border:0px;
    color:#fff;
    padding: 6px 10px;
    cursor: pointer;
    font-weight: 700;
    font-family: inherit;
}
/****************************************************************************/

/*MENU DE OPCIONES*/
.menu_opciones{
    width: 80%;
    margin: 50px auto;
    height: 100%;
    text-align: center;
}
.menu_opciones .env:before{
    content: url(img/envio.png);
    margin-right: 2px;
}
.menu_items{
    display: inline-block;
    margin: 0px 40px;
    font-size: 1.2em;
}
.menu_items-cta{
    text-decoration: none;
    color:#eb8d36;
    position: relative;
}
.menu_items-cta::before{
    content: url("img/add1.png");
    position: relative;
    top: 2px;
    right: 2px;
}
.menu_itemSpan{
     font-weight: 600;   
}
.menu_opciones .input_camp{
     font-size: 0.9em;
    padding: 2px 10px;
    outline: none;
    border: 1px solid #000;
    border-radius: 10px;
    font-family: inherit;
    width: 80px;
}
#envgua{
 display: none;   
}


/*******************************************************************************/
/* CONTENIDO */

.container{
  width: 90%;
  height: 100%;
    margin: 0 auto;
    padding: 0.1px 0;
    /*outline: 1px solid #000;*/
    margin-bottom: 60px;
    text-align: center;
}

/* MOSTRAR CLIENTES */
.container_mensaje{
    margin: 100px 0;
    color:crimson;
}

.container_mostrar .container_tabla_mostrar{
     width: 90%;
    text-align: center;
    margin: 0 auto;
    border-collapse: collapse;
}

.container_mostrar .container_tabla_mostrar th{
    border: 1px solid #000;
    padding: 5px 0;
    background: #c0431c;
    color:white;
}
.container_mostrar .container_tabla_mostrar td{
    border: 1px solid #000;
    padding: 5px 0;
}

.container_mostrar .container_tabla_mostrar .stat .ago, .dis{
    text-decoration: none;
    background:#eb8d36;
    color:white;
    padding: 3px 8px;
    border-radius: 20px;
    font-size: 0.9em;
}

.container_mostrar .container_tabla_mostrar .stat .ago{
    background:crimson;
}

.container_mostrar .container_tabla_mostrar .btn-productos{
    border: 0;
}
.container_mostrar .container_tabla_mostrar .btn-productos .eli{
    margin-left: 3px;
}

.container_mostrar .container_tabla_mostrar .edi:before{
    content: url("img/editar1.png");
}
.container_mostrar .container_tabla_mostrar .eli:before{
    content: url("img/eliminar1.png");
}
.container_mostrar .container_tabla_mostrar .btnG{
    display: none;
}
.container_mostrar .container_tabla_mostrar .btnG a{
    margin-left: 0px;
}

.container_mostrar .container_tabla_mostrar .gua:before{
    content: url("img/guardar1.png");
}

/* AGREGAR CLIENTE */
.container_agregar{
 display: none;
   
}
.container_title{
 text-align: center;
    margin: 20px 0;
}

.container_tabla_form{
    margin: 0 auto;
    /*border: 1px solid #000;*/
}
.container_tabla_form td{
    text-align: left;
    padding: 10px 0;
}

.container_tabla_form #costpun{
    display: none;
}


.container_tabla_form td label{
    margin-right: 50px;
    font-size: 1.2em;
}

.container_tabla_form td .input_camp, .container_tabla_mostrar td .input_camp{
    font-size: 1em;
    padding: 5px 10px;
    outline: none;
    border: 1px solid #000;
    border-radius: 10px;
    font-family: inherit;
    width: 200px;
     
}
.container_tabla_mostrar td .cate{
    width: 150px;
}
.container_tabla_mostrar td .num{
   width: 80px;
   
}

.container_tabla_form .tabla_bottones{
    text-align: center;
}

.container_tabla_form .tabla_cta{
    width: 100px;
    margin-top: 20px;
    background: #eb8d36;
    border:0px;
    color:#fff;
    padding: 6px 10px;
    cursor: pointer;
    font-weight: 600;
    border-radius: 10px;
    font-size: 1em;
}


/***********************************************************/
@media screen and (max-width:810px){
    
    .container_mostrar{
        width: 98%;
        
    }
    
    /*MOSTRAR CLIENTES*/
    .container_mostrar .container_tabla_mostrar{
         width: 100%;
    }
    /*MENU DE OPCIONES*/   
    .menu_items{
        margin: 0 30px;
        }
}


@media screen and (max-width:450px){
    
    /*HEADER*/
    
    /*FORMULARIO BUSCAR*/
    .form_buscar input{
        margin: 0px auto;
    }
    .form_buscar .form_cta{
        margin-top: 10px;
    }
    
    /*TABLA MOSTRAR*/
    .container_tabla_mostrar{
        width: 100%;
        
    }
    .container_tabla_mostrar tr{
        display: flex;
        flex-direction: column;
        align-items:stretch;
        border: 1px solid grey;
        margin-bottom: 10px;
    }
    .container_tabla_mostrar td[data-titulo]{
        display: flex;
        border: 0px;
    }
    .container_tabla_mostrar td[data-titulo]::before{
        content: attr(data-titulo);
        width: 200px;
        font-weight: 700;
    }
    .container_tabla_mostrar thead{
        display: none;
    }
    
    /* AGREGAR CLIENTE */
    .container_tabla_form{
        width: 90%;
    }
    .container_tabla_form td label{
    margin-right: 30px;
    
    }
    
    .container_tabla_form td .input_camp{
    width: 100%;
    
    }
    
}