
#formularioClientes{
    display: none;
    width: 90%;
    margin-top: 100px;
    margin-left: 100px;
}

.container{
    max-width: 900px !important;
    width: 100%;
    padding: 30px;
    background-color: #fff;
    position: relative;
    margin: 0 auto;
    
}
.container header{
    position: relative;
    font-size: 20px;
    font-weight: 600;
    color: #333;
}
.container header::before{
    content: "";
    position: absolute;
    left: 0;
    bottom: -2px;
    height: 3px;
    width: 27px;
    border-radius: 8px;
    background-color: var(--color1);
}
.container header .cancelar-text{
    color: red;
    font-size: 0.8em;
    position: absolute;
    right: 10px;
}
.container form{
    position: relative;
    margin-top: 16px;
    height: 100%;
    /* min-height: 490px; */
    background-color: #fff;
    /* overflow: hidden; */
}
.container form .form{
    /* position: absolute; */
    background-color: #fff;
    transition: 0.3s ease;
}


.container form .details{
    border: 1px solid #ccc;
    margin-top: 20px;
    border-radius: 10px;
    padding: 5px 10px;
}
.container form .photos .fields{
    display: flex;
    justify-content: center;
    align-items: center;
}
.container form .title{
    display: block;
    margin-bottom: 8px;
    font-size: 16px;
    font-weight: 500;
    margin: 6px 0;
    color: #333;
}
.container form .fields{
    display: flex;
    align-items: center;
    justify-content: left;
    flex-wrap: wrap;
    gap:10px;
   
}
form .fields .input-field{
    display: flex;
    width: calc(100% / 3 - 15px);
    flex-direction: column;
    margin: 4px 0;
}
form .fields .desc{
    width: 100%;
}
.input-field label{
    font-size: 12px;
    font-weight: 500;
    color: #2e2e2e;
}
.input-field input[type='text'], 
.input-field input[type='number'],
.input-field input[type='date'], select{
    outline: none;
    font-size: 14px;
    font-weight: 400;
    color: #333;
    border-radius: 5px;
    border: 1px solid #aaa;
    padding: 0 15px;
    height: 42px;
    margin: 8px 0;
}
.input-field input :focus,
.input-field select:focus{
    box-shadow: 0 3px 6px rgba(0,0,0,0.13);
}
.input-field select,
.input-field input[type="date"]{
    color: #707070;
}
.input-field input[type="date"]:valid{
    color: #333;
}
.container form button, .backBtn{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 45px;
    max-width: 200px;
    width: 100%;
    border: none;
    outline: none;
    color: #fff;
    border-radius: 5px;
    margin: 25px 0;
    background-color: var(--color1);
    transition: all 0.3s linear;
    cursor: pointer;
}
.container form .btnText{
    font-size: 14px;
    font-weight: 400;
}

form button i,
form .backBtn i{
    margin: 0 6px;
}
form .backBtn i{
    transform: rotate(180deg);
}
form .buttons{
    display: flex;
    align-items: center;
}
form .buttons button , .backBtn{
    margin-right: 14px;
}

form .input-field a{
    color: var(--color1);
    font-size: 0.9em;
}

/*CHECKBOX*/
form .input-field span{
    position: relative;
    padding: 10px 0;
}
form input[type="checkbox"]{
    appearance:none;
    -webkit-appearance:none;
    height: 18px;
    width:18px;
    background-color: #fff;
    border-radius: 5px;
    outline: none;
    position: absolute;
    border: 2px solid var(--color1);
    top:2px;
    right: 0px;
    left: 0px;
    
    
}
form input[type="checkbox"]::after{
    content: "";
    position: absolute;
    width: 5px;
    height: 10px;
    border-right: 2px solid #fff;
    border-bottom: 2px solid #fff;
    top:40%;
    left:50%;
    transform: translate(-50%, -50%) rotateZ(40deg);
    display: none;
    transition: all 0.4s;
}
form input[type="checkbox"]:checked{
    background-color: var(--color1);
}
form input[type="checkbox"]:checked:after{
display: block;
} 


.cancelarform{
    color: red;
    font-size: 0.8em;
    position: absolute;
    right: 10px;
}
.cancelarform:hover{
    color: red;
}

form button.btn{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 45px;
    max-width: 200px;
    width: 100%;
    border: none;
    outline: none;
    color: #fff;
    border-radius: 5px;
    margin: 25px 0;
    background-color: var(--color3);
    transition: all 0.3s linear;
    cursor: pointer;
}
form button.btn:hover{
    color: white;
}

@media (max-width: 750px) {
    .container form{
        overflow-y: scroll;
    }
    .container form::-webkit-scrollbar{
       display: none;
    }
    .container form .fields .input-field{
        width: calc(100% / 2 - 15px);
    }
}

@media (max-width: 550px) {
    .container form .fields .input-field{
        width: 100%;
    }
}

