/*===========================
SECTION PRINCIPAL
=============================*/
#principal{
    width: 92%;
    position: absolute;
    top:60px;
    left: 100px;
    background-color: white;
    padding: 20px 10px;
    border-radius: 5px;
}
#principal .titulo h2{
    font-size: 1em;
    padding: 5px 20px;
    font-weight: 600;
}


/*===========================
MODALES
=============================*/

/*SESION NO ENCONTRADA*/
#modalNoSesion .div_mensaje{
    display: flex;
    justify-content: center;
    align-items: center;
    gap:20px;
    flex-direction: column;
}
#modalNoSesion img{
    width: 200px;
}



