

/**************************************************/
/*MENU DE NAVEGACIO*/
.menu{
    width: 100%;
    text-align: center;
    margin-top: 10px;
}
.menu .menu_item{
    text-decoration: none;
    color:#0382e0;
    position: relative;
}
.menu .menu_item-home:before{
    content: url("img/inicio.png");
    position: relative;
    top:2px;
    right: 2px;
}

/*===========================
TITULO DE SECCION E INDICADORES
=============================*/

/*===========================
TITULO DE SECCION E INDICADORES
=============================*/

#principal .titulo {
    display: flex;
    gap: 10px;
    align-items: center;
   
}

#principal .titulo ul {
    display: flex;
    gap: 10px;
    align-items: center;
    list-style: none; /* Elimina bullets */
    margin: 0;
    padding: 5px;
}

#principal .titulo ul li {
    display: flex;
    gap: 3px;
    align-items: center; /* Centra verticalmente */
    padding: 0 3px; /* Espaciado interno */
}

#principal .titulo ul li h6 {
    padding: 0;
    margin: 0;
    white-space: nowrap; /* Evita que se rompa el texto */
}

#principal .titulo ul li span {
    padding: 0;
    margin: 0;
}

#principal .titulo ul li a {
    display: flex;
    align-items: center; /* Centra el icono */
    gap: 5px;
    text-decoration: none;
    border: 1px solid var(--color1);
    color: var(--color1);
    border-radius: 5px;
    padding: 4px 7px;
    font-size: 0.9em;
    transition: all 0.3s ease;
}
#principal .titulo ul li a:hover{
    background-color: var(--color1);
    color: white;
}
/*===========================
SECTION PRINCIPAL
=============================*/


#principal section .div_header{
    display: flex;
    justify-content: space-between;
    margin-bottom: 10px;
}
#principal section .filtro_filas{
    display: flex;
    align-items: center;
    gap:10px;
   
}


#principal .div_header .filtro_input{
    display: flex;
    gap:5px;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 650px;
}
#principal .inpt{
    display: flex;
    justify-content: center;
    align-items: center;
    gap:5px;
    width: 100%;
 

}

#principal .div_header .filtro_input .link_agregar a{
    font-size: 0.9em;
    color: var(--color3);
}
#principal .div_header .filtro_filas label{
    font-weight: 600;
    color: #000000c3;
    
    
}



#principal .div_header .filtro_input input,
#principal .div_header .filtro_filas select{
    height: 40px;
    width:110%;
    font-size: 16px;
    padding: 0 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
    font-family: inherit;
}

#principal .div_header .filtro_filas select[name=num_registros]{
    width:80px;
}




/* #principal .tabla{
    margin: 2px 0;
} */

#principal .tabla table {
    width: 100%;
    border-collapse: collapse;
    background-color: white;
    box-shadow: 0 1px 3px rgba(0,0,0,0.1);
}
#principal .tabla table th, td {
    padding: 12px 15px;
    text-align: left;
    border-bottom: 1px solid #e0e0e0;
}
#principal .tabla table th {
    background-color: #f1f3f5;
    font-weight: bold;
    color: #6c757d;
}


 

.more-options {
    color: #6c757d;
    font-weight: bold;
    display: flex;
    justify-content: center;
    align-items: center;
    gap:20px;
}
.more-options a{
    color: var(--color3);
}
.more-options .eliminar{
    color:red;
}


#principal .tdnohay{
    color: red;
    font-size: 0.9em;
    text-align: center;
}

#principal .tdnohay p{
    padding: 20px 0;
}


/*PIE*/
.pie{
    /* background-color: rgb(180, 125, 125); */
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    margin-top: 10px;
}
.pie label{
    margin: 0 !important;
    padding-left: 20px;
    font-size: 0.9em;
}

.pie .nav-paginacion{
    display: flex;
    justify-content: center;
    align-items: center ;
    
}
.pie nav{
    display: flex;
    justify-content: center;
    align-items: center;
    padding-right: 20px;
    
   
}
.pie .paginacion{
    /* background-color: rgb(128, 128, 201); */
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    gap:5px;

    }

.pie .paginacion li{
    width: 25px;
    height: 25px;
    background-color: rgb(203, 203, 203);
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
   
}
.pie .paginacion li a{
    color: white;
}

.pie .paginacion li.active{
    background-color: var(--color2);
}
.pie .paginacion li.active a{
    color: white;
}




/*=============== SCROLL UP ===============*/
#scroll-up{
    text-decoration: none;
  }
  .scrollup{
    position: fixed;
    right: 1rem;
    bottom: -50%;
    background-color: var(--color1);
    box-shadow: 0 4px 12px shla(19, 24%, .1);
    display: flex;
    justify-content: center;
    align-items: center;
    width: 30px;
    height: 30px;
    /* padding: .10rem .35rem; */
    border-radius:50%;
    font-size: 1.1rem;
    color:white;
    z-index: 999;
    transition: bottom .3s, transform .3s, background .4s;
    
  }
  
  .scrollup:hover{
    transform: translateY(-.25rem);
    color: white;
  }
  
  
  .show-scroll{
    bottom: 4rem;
  }
  

