/* ============================
*ARCHIVO DE ESTILOS BARRA SUPERIR
* PERFIL DE USUARIO, NOMBRE DE USUARIO, SALIR DE LA SESIÓN
*
 ================================ */

/* ============================
NAVBAR 
================================ */

.navbar{
    width: 90%;
    position: absolute;
    right: 20px;
    top:5px;
    display: flex;
    justify-content: space-between;
    gap:20px;
    align-items: center;
}
.user{
    display: flex;
    gap:5px;
    align-items: center;
    
}
.user p{
    font-size: 0.9em;
    margin: 0px !important;
    font-weight: 600;
    color: var(--color1);

}
.user i{
    color: var(--color1);
    font-size: 1.7em;
}

.navbar a i{
    color: var(--color1);
    font-size: 0.9em;
}

.datos-sistema{
    display: flex;
    gap:20px;
    justify-content: center;
    align-items: center;
}
.datos-sistema p{
    margin: 0 !important;
    font-size: 0.9em;
    font-weight: 500;
}
.datos-sistema p span{
    font-weight: 400;
    font-size: 1em;
}
.datos-sistema p input{
    outline: none;
    font-size: 14px;
    font-weight: 400;
    color: #333;
    border-radius: 5px;
    border: 1px solid #aaa;
    padding: 0 15px;
    height: 35px;
    width: 100px;
}
.datos-sistema p input:focus{
    border-color: var(--color3);
    box-shadow: 0 0 5px var(--color3);
}


.datos-sistema .navbar_version{
    color: black;
    font-size: 0.9em;
}
.datos-sistema .navbar_version i{
    font-size: 0.9em;
    position: relative;
    top:-1px;
}
.navbar .datos-sistema p a i{
    color: var(--color3) !important;
    font-size: 1em;
}


/*SECTION DE ATAJOS DEL TECLADO*/
.atajos_teclado{
    display: flex;
    justify-content: center;
    align-items: center;
    gap:5px;
    font-size: 0.8em;
}
.atajos_teclado p{
    margin: 0px !important;
    padding: 0px !important;
    font-weight: 600;
}
.atajos_teclado ul{
    display: flex;
    justify-content: center;
    align-items: center;
    gap:10px;
    margin: 0px !important;
    padding: 0px !important
}
.atajos_teclado ul li{
    color: gray;
}
.atajos_teclado ul li span{
    font-weight: 600;
    color: black;
}