@font-face{
    font-family: 'Poppins', sans-serif;
    src: url("../fonts/Poppins-ExtraLight.ttf");
    src: url("../fonts/Poppins-Light.ttf");
    src: url("../fonts/Poppins-SemiBold.ttf");
}

:root{
   
    --principal:#eb8d36;
    --secundario:#e33907;
    --titulos:#3f3f3f;

}

*{
    margin: 0;
    padding: 0;
    outline: 0;
    appearance: 0;
    border: 0;
    text-decoration: none;
    list-style: none;
    box-sizing: border-box;
}

.bd{
    /* outline: 1px solid #000; */
}

body{
    background-color: #ECF0F9;
    font-family: "Poppins", sans-serif;
}
a{
    text-decoration: none;
}
a:hover, .btn:hover{
    text-decoration: none;
    color:white;
}
/*******************************************/
/******NAVBAR*/
#navbar{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50px;
    background-color: white;
    z-index: 1;
}
#navbar .navbar_contenedor{
    width: 85%;
    display: flex;
    justify-content: space-between;
}
#navbar .navbar_contenedor .navbar_logo{
    display: flex;
    justify-content: center;
    align-items: center;
    gap:10px;
}
#navbar .navbar_contenedor .navbar_logo img{
    width: 50px;
}
#navbar .navbar_contenedor .navbar_logo p{
    background-color: #D7E0F6;
    padding: 5px 15px;
    border-radius: 5px;
    font-size: 0.9em;
    font-weight: 600;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
    color:var(--titulos);
    margin: 10px;
}
#navbar .navbar_contenedor .navbar_logo p i{
    position: relative;
    right: 2px;
    
}
#navbar .navbar_contenedor .navbar_usuario{
    display: flex;
    justify-content: center;
    align-items: center;
    gap:10px;
}
#navbar .navbar_contenedor .navbar_usuario h2{
    font-size: 1.2em;
    margin-top: 10px;
    font-weight: 700;
}
#navbar .navbar_contenedor .navbar_usuario h2 span{
    font-weight: 400 !important;
}

#navbar .navbar_contenedor .navbar_usuario .navbar_avatar{
    width: 30px;
}
#navbar .navbar_contenedor .navbar_usuario{
    display: flex;
    justify-content: center;
    align-items: center;
    gap:10px;
}
#navbar .navbar_contenedor .navbar_usuario a{
    color: var(--principal);
}


/**********************************************************/
/***********LATERAL*/
#lateral{
    width: 70px;
    height: 100%;
    position: fixed;
    top:0;
    z-index: 9;
    background-image: radial-gradient(circle, #e33907, #e03c0d, #de3f11, #db4215, #d84419, #d84419, #d84419, #d84419, #db4215, #de3f11, #e03c0d, #e33907);
    /* display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column; */
}
#lateral .lateral_icon{
    margin: 20px 0;
    text-align: center;
}


#lateral .lateral_menu{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 20px;
    margin-top: 100px;
}

#lateral .lateral_menu .lat{
    width: 40px;
    height: 40px;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: all 0.3s ease-in;
    -webkit-transition: all 0.3s ease-in;
    -moz-transition: all 0.3s ease-in;
    -ms-transition: all 0.3s ease-in;
    -o-transition: all 0.3s ease-in;
}
#lateral .lateral_menu .lat a{
    position: absolute;

}

#lateral .lateral_menu i{
    color:white;
    font-size: 1.3em;
}

#lateral .lateral_menu .active{
    background-color: white;
}
#lateral .lateral_menu .active i{
    color: var(--secundario);
   
}


/****************************************************/
/***********PRINCIPAL*/
#principal{
    width: 88%;
    margin-left: 100px;
    margin-top: 20px;
}
#SectionCategorias, #SectionGastos, #SectionProductos, #SectionDetallesProductos, #SectionRepartidores, #SectionEstadisticas,
#SectionCombos, #SectionUsuarios, #SectionTraila{
    display: none;
}
/*ENCABEZADO*/
#principal .navbar_principal{
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
#principal .navbar_principal h2{
    font-size: 1.2em;
    color:var(--titulos);
}
#principal .navbar_principal h2 span{
    font-weight: 500;
    color: var(--principal);
    font-size: 1.4em;
    position: relative;
    top:4px;
}
#principal .navbar_principal a{
    color:var(--principal);
}
#principal .navbar_principal p{
    font-size: 1.2em;
    margin-right: 10px;
    margin-top: 10px;
    
}

/*MOSTRAR*/
#principal .principal_mostrar table{
    width: 100%;
    text-align: center;
    border-collapse: collapse;
}
#principal .principal_mostrar table th{
    padding: 4px 0;
}
#principal .principal_mostrar table td{
    background-color: white;
    padding: 6px 0;
    border-bottom: 1px solid #d3d3d3;
    position: relative;
}
#principal .principal_mostrar table td a{
    color:var(--principal);
    margin: 0 5px;
}
#principal .principal_mostrar table td .eliminar{
    color:crimson;
}

#principal .principal_mostrar table td .btn{
    background-color: var(--principal);
    color:white;
    padding: 2px 15px;
    border-radius: 15px;
    -webkit-border-radius: 15px;
    -moz-border-radius: 15px;
    -ms-border-radius: 15px;
    -o-border-radius: 15px;
}

/*ERROR*/
.error-txt{
    text-align: center;
    color:crimson;
    font-size: 0.9em;
}
 .error-txt i{
    position: relative;
    right: 2px;
}

/*NOHAY*/
#principal .nohay{
    text-align: center;
    color:#505050;
    font-size: 0.9em;
    margin: 50px 0;
}
#principal .nohay i{
    position: relative;
    right: 2px;
}
#principal .nousers{
    margin: 0px 0;
}



/*********************************************************/
/*********MODAL*/

.modal form .name-details{
    display: flex;
    justify-content: center;
    align-items: center;
    gap:5px;
}


.modal form .field{
    display: flex;
    position: relative;
    flex-direction: column;
    margin-bottom: 10px;
}
.modal form .field label{
    margin-bottom: 2px;
    font-weight: 700;
    text-align: left;
    margin-left: 20px;
}
.modal form .name-details{
    display: flex;
}
.modal form .field input{
    outline: none;
}
.modal form .input input, .modal form .input select{
    height: 40px;
    width:100%;
    font-size: 16px;
    padding: 0 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
    font-family: inherit;
}
.modal form .button input{
    background-color: var(--principal);
    color: white;
    font-weight: 500;
}
.modal form .button .btnEditar{
    display: none;
}


/************************************************/
/*MENSAJE DE DISPOSITIVOS MOVILES*/
.mensajeDispositivos{
    display: none;
    top:0;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    position: fixed;
    background-color: white;
    z-index: 99999;
    gap:10px;
}

.mensajeDispositivos img{
    width: 250px;
}
.mensajeDispositivos p{
    color: gray;
}
.mensajeDispositivos p i{
    position: relative;
    top:1px;
}


/*=============== BREAKPOINTS ===============*/

  /* FOR MEDIUM DEVICES */
  @media screen and (max-width: 700px){

    .mensajeDispositivos{
        display: flex;
    }
    


  }