
@font-face{
    font-family: 'Poppins', sans-serif;
    src: url("../fonts/Poppins-ExtraLight.ttf");
    src: url("../fonts/Poppins-Light.ttf");
    src: url("../fonts/Poppins-SemiBold.ttf");
}

:root{
   
    --principal:#eb8d36;
   --secundario:#df7c1f;
   --titulos:#3f3f3f;
  

}

*{
    margin: 0;
    padding: 0;
    outline: 0;
    appearance: 0;
    border: 0;
    text-decoration: none;
    list-style: none;
    box-sizing: border-box;
}

.bd{
    /* outline: 1px solid #000; */
}

body{
    
    background-color: #ECF0F9;
    font-family: "Poppins", sans-serif;
}
a{
    text-decoration: none;
}
 a:hover, .btn:hover{
    text-decoration: none;
    color:white;
} 


/*******************************************/
/******NAVBAR*/
#navbar{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    height: auto;
    background-color: white;
    z-index: 1;
    top:0px;
    position: absolute;
    box-shadow: rgba(17, 12, 46, 0.15) 0px 48px 100px 0px;
    padding: 5px 0;
}
#navbar .navbar_contenedor{
    width: 85%;
    display: flex;
    justify-content: space-between;
}
#navbar .navbar_contenedor .navbar_logo{
    display: flex;
    justify-content: center;
    align-items: center;
    gap:20px;
}
#navbar .navbar_contenedor .navbar_logo h2{
    font-size: 1.3em;
    font-weight: 700;
    margin-top: 10px;
}
#navbar .navbar_contenedor .navbar_logo img{
    width: 50px;
}

#navbar .navbar_contenedor .navbar_usuario{
    display: flex;
    justify-content: center;
    align-items: center;
    gap:10px;
}
#navbar .navbar_contenedor .navbar_usuario h2{
    font-size: 1.2em;
    font-weight: 700;
    margin-top: 10px;
}
#navbar .navbar_contenedor .navbar_usuario h2 span{
    font-weight: 400 !important;
}

#navbar .navbar_contenedor .navbar_usuario .navbar_avatar{
    width: 30px;
}

#navbar .navbar_contenedor .navbar_usuario a{
    color: var(--principal);
}


/****************************************************/
#gastos_buscar{
    width: 80%;
    margin: 20px auto;
    display: flex;
    justify-content: center;
    align-items: center;
    gap:10px;
    flex-direction: column;
    margin-top: 80px;
}

#gastos_buscar .gastos_mes{
    display: none;
}


#gastos_buscar input[type=date], #gastos_buscar select{
    height: 40px;
    width:200px;
    font-size: 16px;
    padding: 0 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
    font-family: inherit;
}
#gastos_buscar select{
    width: 140px;
}
#gastos_buscar button{
    height: 38px;
    background-color: var(--principal);
    color: white;
    font-weight: 500;
    width: 100px;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
    font-family: inherit;
    margin-left: 5px;;
}
#gastos_buscar h2{
    font-size: 1.2em;
    font-weight: 600;
}

/*RADIO INPUTS*/
#gastos_buscar .radio{
    font-size: 18px;
position: relative;
vertical-align: middle;
display: inline-block;
padding-right: 20px;
font-size: 18px;
padding-left: 25px;
/* outline: 1px solid #000; */


}
#gastos_buscar .radio input[type="radio"]{
display: none;
  }
#gastos_buscar .radio span{
    height: 22px;
    width: 22px;
    border-radius: 50%;
    border: 2px solid var(--principal);
    display: block;
    position: absolute;
    top: 2px;
    left: 0px;
}

#gastos_buscar .radio span:after{
    content: " ";
    height: 16px;
    width: 16px;
    background-color: var(--principal);
    display: block;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%) scale(0);
    border-radius: 50%;
    transition: 300ms ease-in-out 0s;
    }

#gastos_buscar   .radio input[type="radio"]:checked ~ span:after{
        transform: translate(-50%, -50%) scale(1);
    }

/*********************************************************/
/*GASTOS INDICADORES*/
#gastos_indicadores{
    display: flex;
    justify-content: center;
    align-items: center;
    gap:20px;
}
#gastos_indicadores p{
    margin: 0;
    font-weight: 600;
    font-size: 1.1em;
}
#gastos_indicadores p span{
    font-weight: 400;
}
#gastos_indicadores a{
    color: var(--principal);
}


/*********************************************************/
/*GASTOS MOSTRAR*/
#SectionGastos{
    margin-top: 100px;
}
#gastos_mostrar{
    margin-top: 20px;
    text-align: center;
}


.nohay{
    text-align: center;
    color:#505050;
    font-weight: 0.9em;
    margin: 50px 0;
}
.nohay i{
    position: relative;
    right: 2px;
}


/*MOSTRAR*/
#SectionGastos{
    width: 90%;
    margin: 0 auto;
}
#SectionGastos .principal_mostrar table{
    width: 100%;
    text-align: center;
    border-collapse: collapse;
}
#SectionGastos .principal_mostrar table th{
    padding: 4px 0;
}
#SectionGastos .principal_mostrar table td{
    background-color: white;
    padding: 6px 0;
    border-bottom: 1px solid #d3d3d3;
    position: relative;
}
#SectionGastos .principal_mostrar table td a{
    color:var(--principal);
    margin: 0 5px;
}
#SectionGastos .principal_mostrar table td .eliminar{
    color:crimson;
}

/************************************************************/
/*MODAL*/
.modal form .name-details{
    display: flex;
    justify-content: center;
    align-items: center;
    gap:5px;
}


.modal form .field{
    display: flex;
    position: relative;
    flex-direction: column;
    margin-bottom: 10px;
}
.modal form .field label{
    margin-bottom: 2px;
    font-weight: 700;
    text-align: left;
    margin-left: 20px;
}
.modal form .name-details{
    display: flex;
}
.modal form .field input{
    outline: none;
}
.modal form .input input, .modal form .input select{
    height: 40px;
    width:100%;
    font-size: 16px;
    padding: 0 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
    font-family: inherit;
}
.modal form .button input{
    background-color: var(--principal);
    color: white;
    font-weight: 500;
}
/*********************************************************/
/*REGRESAR*/
#linkRegresar{
    position: fixed;
    left: 20px;
    bottom: 20px;
}
#linkRegresar i{
    font-size: 1.4em;
    color: var(--principal);
}

/************************************************/
/*MENSAJE DE DISPOSITIVOS MOVILES*/
.mensajeDispositivos{
    display: none;
    top:0;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    position: fixed;
    background-color: white;
    z-index: 99999;
    gap:10px;
}

.mensajeDispositivos img{
    width: 250px;
}
.mensajeDispositivos p{
    color: gray;
}
.mensajeDispositivos p i{
    position: relative;
    top:1px;
}


/*=============== BREAKPOINTS ===============*/

  /* FOR MEDIUM DEVICES */
  @media screen and (max-width: 700px){

    .mensajeDispositivos{
        display: flex;
    }
    


  }