
#productos_buscar{
    width: 80%;
    margin: 20px auto;
    display: flex;
    justify-content: center;
    align-items: center;
    gap:10px;
}

#productos_buscar input{
    height: 40px;
    width:300px;
    font-size: 16px;
    padding: 0 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
    font-family: inherit;
}
#productos_buscar button{
    height: 40px;
    background-color: var(--principal);
    color: white;
    font-weight: 500;
    width: 100px;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
    font-family: inherit;
} 



/******************************/
/*MOSTRAR*/
.linkStatus{
    background-color: var(--principal);
    padding: 4px 12px;
    border-radius: 30px;
    -webkit-border-radius: 30px;
    -moz-border-radius: 30px;
    -ms-border-radius: 30px;
    -o-border-radius: 30px;
    color: white !important;
}

.linkAgotado{
    background-color: red;
}

