
@font-face{
    font-family: 'Poppins', sans-serif;
      src: url("fonts/Poppins-ExtraLight.ttf");
    src: url("fonts/Poppins-Light.ttf");
    src: url("fonts/Poppins-SemiBold.ttf");
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: 'Poppins', sans-serif;
}

.header{
    background: #c0431c;
    width: 100%;
    height: 80px;
    display: grid;
    grid-template-columns: repeat(10,1fr); 
    gap:20px;
    text-align: center;
    justify-content: space-around;
    line-height: 80px;
    box-shadow: 0 0 32px -16px rgba(0,0,0,0.5);
}

.header_imagen{
    width:200px;
    height: 50x;
    grid-column:2/3;
}
.header_img{
    width: 50%;
}
.header_title{
    grid-column:4/8;
}
.header_tit{
    color:#fff;  
}
.header_tit #usuario{
    font-weight: 400;
    
}
.header_salir{
    grid-column:10/-1;
    text-align: right;
    position: relative;
    margin-right: 40px;
}
.header_cta{
    color:white;
    text-decoration: none;
    
    
}
.header_cta::after{
    content: url("../img/salir1.png");
    position: absolute;
    top:5px;
    right: 20px;
}



/*FECHA*/
#fecha{
    text-align: center;
    font-weight: 400;
    margin: 10px 0;
    font-size: 1.2em;
    color:#c0431c;
    
}


/*CONTAINER*/
.container{
    width: 90%;
    height:100%;
    margin: 50px auto;
    display: flex;
    gap:50px;
    justify-content: space-evenly;
    flex-wrap: wrap;
    
}

.container_item{
    width: 200px;
    height: 180px;
    margin-bottom: 20px;
    display: flex;
        flex-direction: column;
        align-items: flex-start;
    box-shadow: 0 0 32px -16px rgba(0,0,0,0.5);
}

.container_imagen{
    width: 70%;
    height: 100px;
    margin: auto;
}

.container_img{
    width:100%;
}

.container_subtitle{
    text-align: center;
    width: 100%;
   margin-top: 0px;
}
.container_subtitle .container_cta{
    text-decoration: none;
    color:#eb8d36;
    font-size: 1.3em;
}

#productos, #gastos, #estadisticas{
    display: none; 
}


@media screen and (max-width:768px){
    .header_title{
      grid-column:3/9;
    }
    
    .header_imagen{
    width: 150px;
  
    }
    .header_img{
    width: 80%;
    }
    .header_salir{
        grid-column:9/-1;
    }
}

@media screen and (max-width:450px){
    .header{
        grid-template-rows: 80px 40px;
        gap:0;
    }
    
    .header_title{
        background: #de3185;
        grid-row: 2/3;
        grid-column:1/10;
        font-size: 0.8em;
        line-height: 40px;
        border-top:2px solid #fff;
    }
    .header_imagen{
        grid-column:2/10;
        margin: auto;
    }
    
    .header_salir{
        border-top:2px solid #fff;
        background: #de3185;
        grid-row: 2/3;
        grid-column:9/11;
        line-height: 40px;
        margin-right: 0;
    }
    
    
    
    
    /*FECHA*/
    #fecha{
        margin: 50px 0px;
    }
    
    
   
}