
/**FONDO */
.divBackground{
    position:fixed;
    width: 100%;
    height: 100%;
    background: rgba(0,0,0,0.1);
    opacity: 1;
    top:0;
    pointer-events: none;
    transition: all 0.3s ease;
    z-index: 9999;
    pointer-events: auto;
}


/* .spinnerb {
    margin: 50px auto 0;
    width: 70px;
    text-align: center;
    position: absolute;
    left: 50%;
    top:40%;

} */
.spinner {
    margin: 0px auto 0;
    width: 70px;
    text-align: center;
}

.spinner > div, .spinnerb > div {
    width: 18px;
    height: 18px;
    background-color: gray;

    border-radius: 100%;
    display: inline-block;
    -webkit-animation: sk-bouncedelay 2.4s infinite ease-in-out both;
    animation: sk-bouncedelay 2.4s infinite ease-in-out both;
}

.spinner .bounce1, .spinnerb .bounce1 {
    -webkit-animation-delay: -0.32s;
    animation-delay: -0.32s;
}

.spinner .bounce2, .spinnerb .bounce2 {
    -webkit-animation-delay: -0.16s;
    animation-delay: -0.16s;
}

@-webkit-keyframes sk-bouncedelay {
    0%, 80%, 100% { -webkit-transform: scale(0) }
    40% { -webkit-transform: scale(1.0) }
}

@keyframes sk-bouncedelay {
    0%, 80%, 100% { 
        -webkit-transform: scale(0);
        transform: scale(0);
    } 40% { 
        -webkit-transform: scale(1.0);
        transform: scale(1.0);
    }
}