
/*/////////////////////////////////////////////////*/
/*TABLETS*/
@media only screen and (min-width : 330px) {

/* VENTANAS MODALES */
.modal_confirmado{
    width: 80%;
    box-shadow: 0 0 32px -16px rgba(0,0,0,0.5);
    height: 80px;
    border-radius: 10px;
    position: fixed;
    bottom: 50px;
    left: 10%;
    right:10%;
    background: #fff;
    display: none;  
    z-index: 999999 !important;  
}

.modal_text{
    line-height: 80px;
    text-align: center;
    font-weight: 700;
    font-size: 1.2em;
    position: relative;
    color: var(--color1);
}

.modal_text i{
    color: var(--color1);
    font-size: 1.5em;
    position: relative;
    right: 5px;
    top:3px;
}

.err{
    color:crimson;
}
.err i{
    color: crimson;
}

.adv{
    color: #ffa400;
}
.adv i{
    color: #ffa400;
}


}

/*////////////////////////////////////////////*/
/*COMPUTADORA*/
@media only screen and (min-width : 1100px) {

        /* VENTANAS MODALES */
    .modal_confirmado{
        width: 30%;
        left: 37%;
        right:37%;  
    }


}