

@font-face{
    font-family: 'Poppins', sans-serif;
      src: url("../../fonts/Poppins-ExtraLight.ttf");
    src: url("../../fonts/Poppins-Light.ttf");
    src: url("../../fonts/Poppins-SemiBold.ttf");
}


*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
   font-family: 'Poppins', sans-serif;
}


/********************************************************/
/*CABECERA*/
.header{
    background: #222423;
    width: 100%;
    height: 80px;
    display: grid;
    grid-template-columns: repeat(10,1fr); 
    gap:20px;
    text-align: center;
    justify-content: space-around;
    line-height: 80px;
    box-shadow: 0 0 32px -16px rgba(0,0,0,0.5);
}

.header_title{
    grid-column:4/8;
}
.header_tit{
    color:#fff;  
}
.header_tit #usuario{
    font-weight: 400;
    
}
.header_salir{
    grid-column:10/-1;
    text-align: right;
}
.header_cta{
    color:white;
    text-decoration: none;
}
.header_cta::before{
    content: url("../../img/salir1.png");
    position: relative;
    top:5px;
    right:20px;
    
}
/**********************************************************************/
/*FECHA*/
#fecha{
    text-align: center;
    font-weight: 400;
    margin: 10px 0;
    font-size: 1.2em;
    color:#222423;
}
#fecha:before{
    content: url('../../img/calendar1.png');
    position: relative;
    top: 3px;
    right: 2px;
}

/*****************************************************/
/*Menu de navegación*/
.menunav{
    text-align: center;
	font-size: 16px;
    margin: 20px auto;
}
.menunav a{
    text-decoration: none;
     color: #eb8d36;
}
.menunav .menu_item-home::before{
    content: url("../../img/home1.png");
    margin-right: 2px;
}
/**************************************************************/
/*SELECCIONAR PERIODO DE TIEMPO*/
.seleccionarGastos{
    width: 70%;
    margin: 10px auto;
    text-align: center;
}
.seleccionarGastos ul li{
    list-style: none;
    display: inline-block;
    position: relative;
    /* outline: 1px solid #000; */
    width: 20%;
    color:#202020;
}

.seleccionarGastos ul li .radio_radio{
    display: inline-block;
}

/*RADIO INPUTS*/
.radio{
    font-size: 18px;
position: relative;
vertical-align: middle;
display: inline-block;
padding-right: 20px;
font-size: 18px;
padding-left: 25px;
/* outline: 1px solid #000; */


}
 .radio input[type="radio"]{
display: none;
  }
.radio_radio{
    height: 22px;
    width: 22px;
    border-radius: 50%;
    border: 2px solid gray;
    display: block;
    position: absolute;
    top: 2px;
    left: 0px;
}

.radio .radio_radio:after{
    content: " ";
    height: 16px;
    width: 16px;
    background-color: #eb8d36;
    display: block;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%) scale(0);
    border-radius: 50%;
    transition: 300ms ease-in-out 0s;
    }

    .radio input[type="radio"]:checked ~ .radio_radio:after{
        transform: translate(-50%, -50%) scale(1);
    }


/***********************************************************/
/*FORMULARIO BUSCAR*/
.form_buscar{
    width: 70%;
    height: 100%;
    margin: 20px auto;
    text-align: center;
    display: none;
}


.form_buscar select{
    display: block;
    margin: 10px auto;
    font-size: 0.9em;
    padding: 5px 10px;
    outline: none;
    border: 1px solid #000;
    border-radius: 10px;
    font-family: inherit;
    width: 150px;
    display: inline-block;
    margin-right: 10px;
    background: white;
}
.form_buscar input[type='date']{
    font-size: 1em;
    padding: 5px 10px;
    outline: none;
    border: 1px solid #000;
    border-radius: 10px;
    font-family: inherit;
    width: 150px;
}

.form_buscar .anua{
    width: 80px;
}

.form_buscar .form_cta{
    font-size: 0.9em;
    border-radius: 10px;
    padding: 5px 10px;
    width: 100px;
    margin-top: 20px;
    background: #eb8d36;
    border:0px;
    color:#fff;
    padding: 6px 10px;
    cursor: pointer;
    font-weight: 700;
    font-family: inherit;
}
/****************************************************************************/
/*INDICADORES*/
.indicadores{
    width: 80%;
    margin: 10px auto;
    text-align: center;
}
.indicadores ul li{
    display: inline-block;
    padding: 0 50px;
    font-size: 1.1em;
    color:#202020;
}
.indicadores ul li span{
    font-weight: 600;
}
.indicadores ul li a{
    text-decoration: none;
    color:#eb8d36;
}
.indicadores ul li a:before{
    content: url('../../img/anadir.png');
    position: relative;
    top:2px;
    right: 2px;
}
/******************************************************************/
/*CONTENIDO GASTOS*/
.contenido_gastos{
    width: 90%;
    margin: 20px auto;
    padding-bottom: 40px;
    height: 100%;
    padding-top: 0.1px;
    text-align: center;
    box-shadow: 0 0 32px -16px rgba(0,0,0,0.5);
}
.mostrarGastos table{
    width: 100%;
    border-collapse: collapse;
    box-shadow: 0 0 32px -16px rgba(0,0,0,0.4);
}
.mostrarGastos table th{
    border: 2px solid #202020;
    padding: 5px 0px;
    color:#202020;
}
.mostrarGastos table td{
    border-bottom: 1px solid gray;
    padding: 4px 0;
}
.mostrarGastos table td .input_camp{
    font-size: 1em;
    padding: 5px 10px;
    outline: none;
    border: 1px solid #000;
    border-radius: 10px;
    font-family: inherit;
    width: 200px;
    background: white;
}
.mostrarGastos table td .numb{
    width: 120px;
  
}
.mostrarGastos table td .fech{
    width: 150px;
}
/*ICONOS*/
.mostrarGastos .editar{
    content: url('../../img/editar.png');
}
.mostrarGastos .guardar{
    content: url('../../img/guardar.png');
    display: none;
}
.mostrarGastos .eliminar{
    content: url('../../img/borrar.png');
    position: relative;
    left: 3px;
}
.mostrarGastos .tdUsuario{
    color:rgb(129, 128, 128);
    font-size: 0.9em;
    display: none;
    border-bottom: 0px;
    width: 80px;
}

.mostrarGastos .nohay{
    color:crimson;
    margin: 70px 0;
}

/*****************************************/
/*FORMULARIO AGREGAR GASTO*/
.contenido_gastosForm{
    display: none;
}
.container_tabla_form{
    margin: 0 auto;
   
}

#formGastoSalario{
    display: none;
}
.container_tabla_form td{
    text-align: left;
    padding: 10px 0;
}


.container_tabla_form td label{
    margin-right: 50px;
    font-size: 1.2em;
}

.container_tabla_form td .input_camp, .contenido_gastosMostrar td .input_camp{
    font-size: 1em;
    padding: 5px 10px;
    outline: none;
    border: 1px solid #000;
    border-radius: 10px;
    font-family: inherit;
    width: 200px;
    background: white;
}
.container_tabla_form .tabla_bottones{
    text-align: center;
}

.container_tabla_form .tabla_cta{
    width: 100px;
    margin-top: 20px;
    background: #eb8d36;
    border:0px;
    color:#fff;
    padding: 6px 10px;
    cursor: pointer;
    font-weight: 600;
    border-radius: 10px;
    font-size: 1em;
    font-family: inherit;
}

/***********************************************************/
@media screen and (max-width:768px){
    
    /*CONTENIDO DIAS DEL MES*/
    .contenido_gastos .contenido_dias{
        height: 80px;
    }
    
    /*MOSTRAR GASTOS*/
    .container_mostrar table{
         width: 100%;
    }
   
    /*MENU DE OPCIONES*/   
    .menu_items{
        margin: 0 30px;
        }
    
    /*FORMULARIO AGREGAR GASTO*/
   .contenido_gastosMostrar td .input_edit{
        width: 100%;
    }

}
@media screen and (max-width:450px){
    
    /*HEADER*/

    
    /*CONTENIDO DIAS DEL MES*/
 
    .contenido_gastos .contenido_dias{
        height: 160px;
    }
    
    /*FECHA SELECCIONADA*/

    .contenido_Selected{
        width: 90%;
        margin: 0 auto;
    }

    
    /*TABLA MOSTRAR*/

    .container_tabla_mostrar{
        width: 100%;
        
    }
    .container_tabla_mostrar tr{
        display: flex;
        flex-direction: column;
        align-items:stretch;
        border: 1px solid grey;
        margin-bottom: 10px;
    }
    .container_tabla_mostrar td[data-titulo]{
        display: flex;
        border: 0px;
    }
    .container_tabla_mostrar td[data-titulo]::before{
        content: attr(data-titulo);
        width: 200px;
        font-weight: 700;
    }
    .container_tabla_mostrar thead{
        display: none;
    }
     .contenido_gastosMostrar .container_tabla_mostrar .btn-gastos{
       width: 100%;
    
        }
    
    /* AGREGAR GASTO */

    .container_tabla_form{
        width: 90%;
    }
    .container_tabla_form td label{
    margin-right: 30px;
    
    }
    
    .container_tabla_form td .input_camp{
    width: 100%;
    
    }

}