

.titulo_caja p{
    font-size: 0.8em;
    color: gray;
    position: absolute;
    right: 10px;
}

.titulo_caja #ventasEfectivo{
    color: green;
}


/*********************************************
CARGAR CUENTAS
******************************************/

#caja .content-tabla{
    margin-top: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap:30px;
    flex-direction: column;
    padding-bottom: 50px;
}
#caja .content-tabla table{
    width: 100%;
    text-align: center;
}



#caja .content-tabla .mesa{
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
    /* box-shadow: rgba(0, 0, 0, 0.05) 0px 6px 24px 0px, rgba(0, 0, 0, 0.08) 0px 0px 0px 1px; */
    height: 100%;
    width: 70%;
    margin: 5px auto;
    padding-bottom: 10px;
    border-radius: 10px;
    position: relative;
    background-color: rgb(255, 255, 255) !important;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
}
#caja .content-tabla .mesaanterior{
    background-color: rgba(255, 128, 0, 0.065) !important;
}

#caja .content-tabla .mesa .thPrincipal{
    padding-top:5px;
    padding-bottom: 10px;
}

#caja .content-tabla .mesa .spanCliente{
    padding: 4px 8px;
    border: 1px solid #ccc;
    border-radius: 10px;
}

#caja .spanTelefonoCliente{
    font-size: 0.9em;
    font-weight: 500;
    margin-left: 5px;
}

#caja .content-tabla .mesa .spanTotal{
    font-weight: 400;
}

#caja .content-tabla .mesa .divFactura{
    position: absolute;
    right: 10px;
    top:10px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap:10px;
}

#caja .content-tabla .mesa .divFactura label{
    font-size: 0.9em;
    font-weight: 400;
    margin: 0px;
    padding: 0px;
}

#caja .content-tabla .mesa a{
    color: var(--color3);
    font-weight: 400;
   
}

#caja .content-tabla .mesa .cabecera{
    padding: 10px 20px;
    border-bottom: 2px solid #ccc;
}

#caja .content-tabla .mesa .eliminarcuenta{
    position: absolute;
    top:3px;
    left: 10px;
    color: red;
}

#caja .content-tabla .highlight {
    background-color: #ffeb3b !important; /* Amarillo suave */
    transition: background-color 0.5s ease-out;
}





/* ORDENES */
#caja .content-tabla .mesa .ordenes {
    padding: 10px 20px;
}
#caja .content-tabla .mesa .ordenes table{
    border-collapse: collapse;
    text-align: center;
}
#caja .content-tabla .mesa .ordenes table th{
    font-size: 0.9em;
}
#caja .content-tabla .mesa .ordenes table tbody tr{
    border: 1px solid #ccc;
}
#caja .content-tabla .mesa .ordenes table  td{
    text-align: center;
    padding: 4px 0;
}

#caja .content-tabla .mesa .ordenes .editar, #caja .content-tabla .mesa .ordenes .guardar{
    color: var(--color3);
    font-size: 0.9em;
}
#caja .content-tabla .mesa .ordenes .eliminarorden{
    color: red;
}

#caja .content-tabla .mesa .ordenes .ordenPendiente{
    opacity: 0.7;
}

/*CONSUMO*/
.divConsumo{
    padding: 5px 10px;
}
.divConsumo span{
    font-size: 0.8em;
}

.divConsumo span.spanDomicilio{
    background-color: rgba(131, 253, 251, 0.77);
    padding: 2px 2px;
}


.divConsumo span.spanLlevar{
    background-color: rgba(253, 184, 131, 0.77);
    padding: 2px 2px;
}



/* DIV FECHA */
.divfecha{
    text-align: center;
    margin-top: 10px;
}
.divfecha span{
    font-size: 0.8em;
    color: red;
}

#caja .nohay{
    text-align: center;
    color:#505050;
    font-size: 0.9em;
    margin: 50px 0;
}
#caja .nohay{
    margin: 10px 0;
    text-align: center;
    color:#505050;
    font-weight: 0.9em;
}
#caja .nohay i{
    position: relative;
    right: 2px;
    font-size: 0.9em;
}

/* EDITAR COSTO */
#caja .ordenes td input{
    outline: 1px solid var(--color3);
    font-size: 1em;
    font-weight: 400;
    color: #333;
    border-radius: 5px;
    border: 1px solid #aaa;
    padding: 0 15px;
    height: 42px;
    margin: 8px 0;
    width: 100px;
    font-family: inherit;
}



/* .nohay{
    text-align: center;
    color:#505050;
    font-weight: 0.9em;
    margin: 50px 0;
}
.nohy{
    margin: 10px 0;
    text-align: center;
    color:#505050;
    font-weight: 0.9em;
}
.nohay i, .nohy i{
    position: relative;
    right: 2px;
    font-size: 0.9em;
}

#principal .mesa .cabecera a{
    color: var(--principal);
    font-weight: 500;
    font-size: 1em;
}
#principal .mesa .spanCelular{
    margin-left: 20px;
    font-size: 0.9em;
}
#principal .mesa .spanCelular i{
    font-size: 0.9em;
    position: relative;
    right: 4px;
}
#principal .mesa .eliminarcuenta{
    position: absolute;
    top:3px;
    left: 10px;
}
#principal .eliminarcuenta i{
    color: red;
    font-size: 0.9em;
}

#principal .mesa .cabecera{
    padding: 10px 20px;
    border-bottom: 2px solid #ccc;
}
#principal .mesa table{
    width: 100%;
    text-align: center;
}
#principal .mesa input[type=number]{
    height: 35px;
    width: 80px;
    font-size: 16px;
    padding: 0 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
    font-family: inherit; 
}
#principal .mesa .cabecera table th{
    font-size: 1em;
    
}
#principal .mesa .cabecera table th span{
    font-weight: 400;
}

#principal .mesa .ordenes {
    padding: 10px 20px;
}
#principal .mesa .ordenes table{
    border-collapse: collapse;
}
#principal .mesa .ordenes table th{
    font-size: 0.9em;
}
#principal .mesa .ordenes table tbody{
}
#principal .mesa .ordenes table tbody .divnumeroOrden{
    border:1px solid #ccc;
    width: 100%;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
    margin: 2px auto;
}

#principal .pagado{
    text-decoration: line-through;
}
#principal .pendiente{
    opacity:0.4;
}

#principal .mesa .ordenes .editar, #principal .mesa .ordenes .guardar{
    color: var(--principal);
    font-size: 0.9em;
}
#principal .mesa .ordenes .guardar{
    display: none;
} */

/*CHECKBOX*/
 .divFactura{
    border: 1px solid var(--color1);
    border-radius: 5px;
    /* position: relative;
    padding: 5px 0;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-right: 25px;
    padding-bottom: 10px;
    border: 1px solid var(--color1);
    border-radius: 10px; */
}
 .divFactura label{
    color: var(--color1);
    padding: 5px 5px !important;
    padding-right: 26px !important;
 }
.divFactura input[type="checkbox"]{
    appearance:none;
    -webkit-appearance:none;
    height: 16px;
    width:16px;
    background-color: #fff;
    border-radius: 5px;
    outline: none;
 
    position: absolute;
    border: 2px solid var(--color1);
    top:7px;
    right: 5px;
    /* left: 5px; */
    
    
}
.divFactura input[type="checkbox"]::after{
    content: "";
    position: absolute;
    width: 5px;
    height: 10px;
    border-right: 2px solid #fff;
    border-bottom: 2px solid #fff;
    top:40%;
    left:50%;
    transform: translate(-50%, -50%) rotateZ(40deg);
    display: none;
    transition: all 0.4s;
}
.divFactura input[type="checkbox"]:checked{
    background-color: var(--color1);
}
.divFactura input[type="checkbox"]:checked:after{
   display: block;
}  



/* ****************************
MODAL- AGREGAR PRODUCTO COMUN
****************************** */
#modalAgregarProductoLabel span{
    font-size: 0.9em;
}

/* ****************************
MODAL- CAMBIO
****************************** */
#modalCambioLabel span{
font-size: 0.9em;
}
#modalCambio .field_cantidades table{
    width: 100%;
}
#modalCambio .field_cantidades table .input-field{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100%;
}
#modalCambio .field_cantidades table td{
    text-align: center;
}

#modalCambio #fieldBillete{
    outline: none;
    font-size: 14px;
    font-weight: 400;
    color: #333;
    border-radius: 5px;
    border: 1px solid #aaa;
    padding: 0 15px;
    height: 45px;
    margin: 10px 0;
    width: 100px !important;
}

#modalCambio .btncobrar{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 45px;
    max-width: 200px;
    width: 100%;
    border: none;
    outline: none;
    color: #fff;
    border-radius: 5px;
    margin: 25px 0;
    background-color: var(--color3);
    transition: all 0.3s linear;
    cursor: pointer;
}
#modalCambio .btn-cobrar{
    display: flex;
    justify-content: center;
    align-items: center;
}


/* ****************************
MODAL- ELIMINAR CUENTAS
****************************** */
#modalEliminarCuentas table{
    text-align: center;
}
#modalEliminarCuentas table #lugarEliminar{
    font-weight: 400;
}
#modalEliminarCuentas table .btns-modal-eliminar{
    display: flex;
    justify-content: center;
    align-items: center;
    gap:20px;
}



#modalEliminarCuentas table button{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 45px;
    max-width: 100px;
    width: 100%;
    border: none;
    outline: none;
    color: #fff;
    border-radius: 5px;
    margin: 25px 0;
    background-color: red;
    transition: all 0.3s linear;
    cursor: pointer;
    gap:5px;
}


#modalEliminarCuentas table .btnNo{
    background-color: var(--color3);
}