

/*********************************************
CARGAR CUENTAS
******************************************/

#historial .content-tabla{
    margin-top: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap:30px;
    flex-direction: column;
    padding-bottom: 50px;
}
#historial .content-tabla table{
    width: 100%;
    text-align: center;
}



#historial .content-tabla .mesa{
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
    /* box-shadow: rgba(0, 0, 0, 0.05) 0px 6px 24px 0px, rgba(0, 0, 0, 0.08) 0px 0px 0px 1px; */
    height: 100%;
    width: 70%;
    margin: 5px auto;
    padding-bottom: 10px;
    border-radius: 10px;
    position: relative;
    background-color: rgb(255, 255, 255) !important;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
}
#historial .content-tabla .mesaanterior{
    background-color: rgba(255, 128, 0, 0.065) !important;
}

#historial .content-tabla .mesa .thPrincipal{
    padding-top:5px;
    padding-bottom: 10px;
}

#historial .content-tabla .mesa .spanCliente{
    padding: 4px 8px;
    border: 1px solid #ccc;
    border-radius: 10px;
}
#historial .content-tabla .mesa .spanTotal{
    font-weight: 400;
}

#historial .content-tabla .mesa .divFactura{
    position: absolute;
    right: 10px;
    top:10px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap:10px;
}

#historial .content-tabla .mesa .divFactura label{
    font-size: 0.9em;
    font-weight: 400;
    margin: 0px;
    padding: 0px;
}

#historial .content-tabla .mesa a{
    color: var(--color3);
    font-weight: 400;
   
}

#historial .content-tabla .mesa .cabecera{
    padding: 10px 20px;
    border-bottom: 2px solid #ccc;
}

#historial .content-tabla .mesa .eliminarcuenta{
    position: absolute;
    top:3px;
    left: 10px;
    color: red;
}

#historial .content-tabla .formaPago{
    font-weight: 400;
    font-size: 0.9em;
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 3px 6px;
    color: #797979;
}



/* ORDENES */
#historial .content-tabla .mesa .ordenes {
    padding: 10px 20px;
}
#historial .content-tabla .mesa .ordenes table{
    border-collapse: collapse;
    text-align: center;
}
#historial .content-tabla .mesa .ordenes table th{
    font-size: 0.9em;
}
#historial .content-tabla .mesa .ordenes table tbody tr{
    border: 1px solid #ccc;
}
#historial .content-tabla .mesa .ordenes table  td{
    text-align: center;
    padding: 4px 0;
}

#historial .content-tabla .mesa .ordenes .editar, #caja .content-tabla .mesa .ordenes .guardar{
    color: var(--color3);
    font-size: 0.9em;
}
#historial .content-tabla .mesa .ordenes .eliminarorden{
    color: red;
}


#historial .nohay{
    text-align: center;
    color:#505050;
    font-size: 0.9em;
    margin: 50px 0;
}
#historial .nohay{
    margin: 10px 0;
    text-align: center;
    color:#505050;
    font-weight: 0.9em;
}
#historial .nohay i{
    position: relative;
    right: 2px;
    font-size: 0.9em;
}
/*a

#principal .mesa .cabecera a{
    color: var(--principal);
    font-weight: 500;
    font-size: 1em;
}
#principal .mesa .spanCelular{
    margin-left: 20px;
    font-size: 0.9em;
}
#principal .mesa .spanCelular i{
    font-size: 0.9em;
    position: relative;
    right: 4px;
}
#principal .mesa .eliminarcuenta{
    position: absolute;
    top:3px;
    left: 10px;
}
#principal .eliminarcuenta i{
    color: red;
    font-size: 0.9em;
}

#principal .mesa .cabecera{
    padding: 10px 20px;
    border-bottom: 2px solid #ccc;
}
#principal .mesa table{
    width: 100%;
    text-align: center;
}
#principal .mesa input[type=number]{
    height: 35px;
    width: 80px;
    font-size: 16px;
    padding: 0 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
    font-family: inherit; 
}
#principal .mesa .cabecera table th{
    font-size: 1em;
    
}
#principal .mesa .cabecera table th span{
    font-weight: 400;
}

#principal .mesa .ordenes {
    padding: 10px 20px;
}
#principal .mesa .ordenes table{
    border-collapse: collapse;
}
#principal .mesa .ordenes table th{
    font-size: 0.9em;
}
#principal .mesa .ordenes table tbody{
}
#principal .mesa .ordenes table tbody .divnumeroOrden{
    border:1px solid #ccc;
    width: 100%;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
    margin: 2px auto;
}

#principal .pagado{
    text-decoration: line-through;
}
#principal .pendiente{
    opacity:0.4;
}

#principal .mesa .ordenes .editar, #principal .mesa .ordenes .guardar{
    color: var(--principal);
    font-size: 0.9em;
}
#principal .mesa .ordenes .guardar{
    display: none;
} */

/*CHECKBOX*/
 .divFactura{
    border: 1px solid var(--color1);
    border-radius: 5px;
    /* position: relative;
    padding: 5px 0;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-right: 25px;
    padding-bottom: 10px;
    border: 1px solid var(--color1);
    border-radius: 10px; */
}
 .divFactura label{
    color: var(--color1);
    padding: 5px 5px !important;
    padding-right: 26px !important;
 }
.divFactura input[type="checkbox"]{
    appearance:none;
    -webkit-appearance:none;
    height: 16px;
    width:16px;
    background-color: #fff;
    border-radius: 5px;
    outline: none;
 
    position: absolute;
    border: 2px solid var(--color1);
    top:7px;
    right: 5px;
    /* left: 5px; */
    
    
}
.divFactura input[type="checkbox"]::after{
    content: "";
    position: absolute;
    width: 5px;
    height: 10px;
    border-right: 2px solid #fff;
    border-bottom: 2px solid #fff;
    top:40%;
    left:50%;
    transform: translate(-50%, -50%) rotateZ(40deg);
    display: none;
    transition: all 0.4s;
}
.divFactura input[type="checkbox"]:checked{
    background-color: var(--color1);
}
.divFactura input[type="checkbox"]:checked:after{
   display: block;
}  


